<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> cyberburgs </title>
    <link rel="icon" type="image/jpg" href="logo.jpg">
    <link rel="stylesheet" href="/static/css_files/style.css">
    <script src="/static/js_files/index.js"> </script>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'">
    <meta http-equiv="X-Frame-Options" content="DENY">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
</head>
<body>
  <nav class="navbar">
    <a class="navbar-home" href="/">cyberburgs</a>
    <div class="navbar-items" id="navbaritem">
        <ul class="navbar-list">
          <li class="nav-item1">
            <a class="navitem1" href="/about"> About </a>
          </li>
          <li class="nav-item2">
            <a class="navitem2" href="/services"> Services </a>
          </li>
          <li class="nav-item3">
            <a class="navitem3" href="/projects"> Projects </a>
          </li>
          <li class="nav-item4">
            <a class="navitem4" href="/blogs"> Blogs </a>
          </li>
          <li class="nav-item5">
            <a class="navitem5" href="/contact"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>
    <video autoplay loop muted id="background-video"> 
      <source src="/static/background.mp4" type="video/mp4">
    </video>
    <div id="welcome-text" class="welcome-text">
      <div id="welcome-text-content" class="welcome-text-center"> </div>
      <label class="switch">
        <input type="checkbox" id="audioToggle">
        <span class="slider round"> </span>
      </label>
    </div>
</body>
</html>